apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards
  namespace: monitoring
  labels:
    grafana_dashboard: "1"
data:
  app-logs.json: |
{{ lookup('file', playbook_dir + '/../../monitoring/grafana/dashboards/app-logs.json') | indent(4, True) }}
  auth-monitoring.json: |
{{ lookup('file', playbook_dir + '/../../monitoring/grafana/dashboards/auth-monitoring.json') | indent(4, True) }}
  security.json: |
{{ lookup('file', playbook_dir + '/../../monitoring/grafana/dashboards/security.json') | indent(4, True) }}
  siem-overview.json: |
{{ lookup('file', playbook_dir + '/../../monitoring/grafana/dashboards/siem-overview.json') | indent(4, True) }}
  system-audit.json: |
{{ lookup('file', playbook_dir + '/../../monitoring/grafana/dashboards/system-audit.json') | indent(4, True) }}
